.feed {
  flex: 0.4;
  /* border-right: 1px solid var(--twitter-background); */
  border-right: 1px solid var(--twitter-color);
}

.feed_header > h2 {
  width: 600px;
  height: 55px;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  align-items: center;
}

.feed_preference {
  display: flex;
  align-self: center;
}
