.post_container {
  display: flex;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--twitter-background);
  transition: all 0.25s ease-out;
}

.post_container:hover {
  background-color: rgb(239, 239, 239);
}

.post_body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 400px;
  margin-bottom: 10px;
  width: 100%;
}
.post_header {
  width: 98%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_header_left {
  display: flex;
}
.post_header_left > a {
  text-decoration: none;
  color: rgb(45, 44, 44);
  font-size: 14px;
  font-weight: 600;
}

.post_header_left > .MuiSvgIcon-root {
  height: 16px !important ;
  color: var(--twitter-color) !important;
}

.post_header_left > span {
  color: grey;
  font-size: 12px;
}

.post_header_threedots > .MuiSvgIcon-root {
  height: 18px !important ;
  color: grey !important;
}

.post_caption {
  line-height: 20px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-top: -10px;
  font-size: 15px;
  font-weight: 390;
}

.post_graphics {
  object-fit: cover;
  width: 100%;
  border-radius: 15px;
}

.post_body > .post_footer_icons {
  display: flex;
  justify-content: space-between;
  width: 98%;
  margin-top: 10px;
}

.post_footer_icons > .MuiSvgIcon-root {
  height: 18px !important ;
}
