.widget {
  flex: 0.3;
  margin-left: 15px;
  display: block;
  overflow-x: none;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  max-width: 340px;
  min-width: 340px;
}

.widget ::-webkit-scrollbar {
  height: 0;
  width: 0;
}

.widget > .search {
  box-sizing: border-box;
  display: flex;
  background-color: rgba(230, 236, 240, 0.8);
  backdrop-filter: blur(20px);
  align-items: center;
  margin-top: 10px;
  padding-left: 15px;
  margin-right: 5px;
  height: 45px;
  border-radius: 25px;
  width: 100%;
}
.widget > .css-1dbjc4n {
  width: 100%;
}

.search > .MuiSvgIcon-root {
  height: 36px !important;
  color: var(--twitter-color) !important;
}

.search > .search_field {
  outline: none;
  border: none;
  background-color: rgba(230, 236, 240, 0.8);
  backdrop-filter: blur(20px);
  font-size: 0.9em;
  margin-left: 10px;
}

@media (max-width: 990px) {
  .widget {
    display: none;
  }

  .sidebar{
    flex: 0.2;
  }
  .feed {
    flex: 0.8;
  }
}
